{% extends 'layouts/main.html' %}
{% block title %}New Venue{% endblock %}
{% block content %}

  <div class="form-wrapper">
	  
    <form method="post" class="form" id='form_addvenue'>
      <h3 class="form-heading">List a new venue <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
		  
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', id='new_name', placeholder='Name', autofocus = true) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', id='new_city', placeholder='City', autofocus = true) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', id='new_state', placeholder='State', autofocus = true) }}
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        {{ form.address(class_ = 'form-control', id='new_address', placeholder='Address', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', id='new_phone', placeholder='xxx-xxx-xxxx', autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', id='new_genres', placeholder='Genres, separated by commas', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="facebook_link">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', id='new_fblink', placeholder='http://', autofocus = true) }}
        </div>
		
      <input type="submit" value="Create Venue" class="btn btn-primary btn-lg btn-block"/>
    </form>
  </div>

<script>
	
	document.getElementById('form_addvenue').onsubmit = function(e) {
		e.preventDefault();
		fetch('/venues/create/add', {
			method: 'POST',
			body: JSON.stringify({
				'new_name': document.getElementById('new_name').value,
				'new_city': document.getElementById('new_city').value,
				'new_state': document.getElementById('new_state').value,
				'new_address': document.getElementById('new_address').value,
				'new_phone': document.getElementById('new_phone').value,
				'new_fblink': document.getElementById('new_fblink').value
				
			}),
			headers: {'Content-Type': 'application/json'}
		})
		.then(function(response) {
			console.log('Response:', response);
			return response.json();
		})
		.then(function(jsonResponse) {
			console.log(jsonResponse);
			window.location.href = '/venues';
		})
	}
		
</script>
	
{% endblock %}












